[Unit]
Description=iFace TCP server
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/oirtsrv -s1.0

[Install]
WantedBy=multi-user.target

