[Unit]
Description=iFace HTTP server
After=multi-user.target

[Service]
Type=simple
ExecStart=python3 /usr/local/bin/httpsrv.py

[Install]
WantedBy=multi-user.target

